{% extends 'base.html' %}
{% load static %}
{% block tit %}404{% endblock tit %}
{% block content %}
    <section class="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
                    <img src="{% static 'core/image/logo.png' %}" alt="site logo" />
					<h1>404</h1>
					<h2>صفحه مورد نظر پیدا نشد</h2>
					<a href="{% url 'core:home' %}" class="btn btn-main"><i class="tf-ion-android-arrow-back"></i> Go Home</a>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}